name: Unity WebGL Build and Deploy

on:
  workflow_dispatch:
  schedule:
   - cron: '0 3 * * 1'

env:
  UNITY_VERSION: 6000.2.12f1

jobs:
  build_webgl:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4
       with:
        lfs: false
     - name: Build project (WebGL)
       uses: game-ci/unity-builder@v4
       env:
        UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
        UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
       with:
        targetPlatform: WebGL
        unityVersion: ${{ env.UNITY_VERSION }}
     - name: Upload Artifact
       uses: actions/upload-artifact@v4
       with:
        name: WebGL-Build
        path: build/WebGL
  deploy:
    needs: build_webgl
    runs-on: ubuntu-latest
    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v4
      with:
        name: WebGL-Build
        path: build_output
    - name: Deploy to GitHub Pages
      uses: perceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build_output
        publish_branch: gh-pages